/* External fonts */
@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/static/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
  }

body{
   background-color: hsl(30, 54%, 90%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: auto;
   margin: 0;
}

.Recipe{
  margin-top: 120px;
  width: 650px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 40px;
  font-family: 'Outfit';
  font-size: 16px;
  color: hsl(30, 10%, 34%);
}
.Recipe img{
    width: 100%;
    border-radius: 10px;
}
.Recipe h1{
    font-family: 'Young Serif';
    font-weight: 500;
    font-size: 40px;
    color: black;
}

/*Content */

/* General list styles */
ul, ol{
  padding-left: 20px;
}
ul li, ol li{
  line-height: 1.8em;
  padding-left: 1.5em;
}

/* Brown Subtitles */
h2{
  font-family: 'Young Serif';
  font-weight: 500;
  font-size: 28px;
  color: hsl(14, 45%, 36%);
}

/* Preparation time Box */
.PurpleBox{
  background-color: hsl(330, 100%, 98%);
  padding: 25px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

  h3{
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    color: hsl(332, 51%, 32%);
  }

  ul li::marker{
    color:hsl(332, 51%, 32%);
    font-size: 12px;
  }
}

/* Ingredients Section */

.Ingredients li::marker{
  font-size: 12px; 
  color:hsl(14, 45%, 36%) ;
}

/* Instructions Section */
.Instructions li::marker{
  font-weight: 600;
  color:hsl(14, 45%, 36%);
}

/* Nutrition section */

table{
  width: 100%;
  border-collapse: collapse;

  td{
    padding: 10px;
    width: 50%;
    border-bottom: 1px solid hsl(30, 12%, 68%);
  }
  td:first-child{ /* left column */
    padding-left: 25px;
  }

  td:last-child{  /* right column */
    font-weight: 600;
    color: hsl(14, 45%, 36%);
  }

  tr:last-child td{ /* Deleting the last border*/
    border: none;
  }
}


/*  Mobile Design styles */
@media (max-width: 700px) {

  body{
    background-color: white;
  }
  .Recipe {
    width: 100%;
    margin: 0; 
    border: none; 
    padding-top: 0; 
    padding-left: 35px; 
    padding-right: 35px; 
    box-sizing: border-box;
    border-radius: 0px;
}

.Recipe img {
    width: calc(100% + 70px); 
    margin-left: -35px;
    margin-right: -35px;
    border-radius: 0;
    padding: 0;
}
}